{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="row">
	<div class="container">
	<br><br>
		<h3 align="center" style="font-family: 'Source Sans Pro', sans-serif; color: #2196F3">Ingresa tu correo para restablecer tu contraseña</h3>
		<br>
		<center>
			<form class="col m12" method="post" action=".">
	  			{% csrf_token %} 
	  			{{ form.as_p }}
	  			<button class="btn waves-effect waves-light red darken-1" type="submit">{% trans 'Enviar' %}
					        	<i class="mdi-content-send right white-text"></i>
				</button>
			</form>
		</center>	
	</div>
</div>
{% endblock %}