{% extends "clientes/contrato.html" %}
{% block beneficiarios %}
<div class="tab-content">
    <div class="tab-pane" id="datos">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="info-text"><strong>Datos Personales del Cliente</strong></h4>
            </div>
            <div class="col-sm-5 col-sm-offset-1">
                <div class="form-group label-floating">
                    <label class="control-label">Cedula</label>
                    {{form.cedula}}
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group label-floating">
                    <label class="control-label">Edad</label>
                    {{form.edad}}
                </div>
            </div>
            <div class="col-sm-5 col-sm-offset-1">
                <div class="form-group label-floating">
                    <label class="control-label">Fecha de Nacimiento</label>
                    {{form.fecha_n}}
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group label-floating">
                    <label class="control-label">Telefono de Oficina</label>
                    <div class="input-group">
                        {{form.telefono_o}}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group label-floating">

                    <div class="input-group">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="busqueda">
        <h4 class="info-text"><strong>Especifica tu Direccion de Habitacion</strong></h4>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="col-sm-4">
                    <div class="form-group label-floating">
                        <label class="control-label">Estado</label>
                        {{form.estado}}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group label-floating">
                        <label class="control-label">Municipio</label>
                        {{form.municipio}}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group label-floating">
                        <label class="control-label">Parroquia</label>
                        {{form.parroquia}}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Sector</label>
                        {{form.sector}}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Nombre del Sector</label>
                        {{form.nombre_sector}}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Ubicacion</label>
                        {{form.ubicacion}}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Nombre de la Ubicacion</label>
                        {{form.nombre_ubicacion}}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Vivienda</label>
                        {{form.vivienda}}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Nombre de la Vivienda</label>
                        {{form.nombre_vivienda}}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Piso</label>
                        {{form.piso}}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Numero</label>
                        {{form.numero}}
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="form-group label-floating">
                        <label class="control-label">Punto de Referencia</label>
                        {{form.punto_referencia}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="salud">
        <h4 class="info-text"><strong>Describenos tus Datos de Salud.</strong></h4>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="col-sm-4">
                    <div class="form-group label-floating">
                        <label class="control-label">Estado de Salud</label>
                        {{form.salud}}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group label-floating">
                        <label class="control-label">Peso</label>
                        {{form.peso}}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group label-floating">
                        <label class="control-label">Estatura</label>
                        {{form.estatura}}
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group label-floating">
                        <br><br><h4><strong>Indique si padece de:</strong></h4>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group label-floating">
                        <label class="control-label">¿Enfermedades del Corazon?</label>
                        {{form.enfermedad_corazon}}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group label-floating">
                        <label class="control-label">¿Diabetes?</label>
                        {{form.diabetes}}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group label-floating">
                        <label class="control-label">¿Cancer?</label>
                        {{form.cancer}}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group label-floating">
                        <label class="control-label">¿Presion Arterial?</label>
                        {{form.presion_arterial}}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group label-floating">
                        <label class="control-label">¿Enfermedades Renales?</label>
                        {{form.enfermedad_renal}}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group label-floating">
                        <label class="control-label">¿Enfermedades Mentales?</label>
                        {{form.enfermendad_mental}}
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-group label-floating">
                        <label class="control-label">¿Otras enfermedades Importantes?</label>
                        {{form.enfermedades_importantes}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="salud2">
        <h4 class="info-text"><strong>Describenos tus Datos de Salud.</strong></h4>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="col-sm-12">
                    <div class="form-group label-floating">
                        <br><br><h4><strong>Padece de alguna de estas enfermedades:</strong></h4>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Esfermedades Respiratorias</label>
                        {{form.enfermedad_respiratoria}}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Describa la enfermedad Respiratoria</label>
                        {{form.indique_respiratoria}}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Enfermedades Digestivas</label>
                        {{form.enfermedad_digestivo}}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Describa la enfermedad Digestiva</label>
                        {{form.indique_digestivo}}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Enfermedades Circulatorias</label>
                        {{form.enfermedad_circulatorio}}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Describa la enfermedad Circulatoria</label>
                        {{form.indique_circulatorio}}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Otras Enfermedades</label>
                        {{form.otras_enfermedades}}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Describa las otras enfermedades</label>
                        {{form.indique_otras}}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}