{% extends "clientes/base_clientes.html" %}
{% load static %}
{% block contenido %}
<div class="content">
<div class="image-container set-full-height" style="background-color: #0a8bf5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <!--      Wizard container        -->
                <div class="wizard-container">
                    <div class="card wizard-card" data-color="blue" id="wizardProfile">
                        <div class="wizard-header">
                            <h3 class="wizard-title">
                                Completa tu Perfil
                            </h3>
                            <h5>Esta informacion nos hara saber mas sobre ti.</h5>
                        </div>
                        <div class="wizard-navigation">
                            <ul>
                                <li><a href="#sobreti" data-toggle="tab">Sobre ti</a></li>
                                <li><a href="#familia" data-toggle="tab">Familiar</a></li>
                                <li><a href="#direcciones" data-toggle="tab">Direcciones</a></li>
                            </ul>
                        </div>
                        <form action="" method="POST">{% csrf_token %}
                            <div class="tab-content">
                                <div class="tab-pane" id="sobreti">
                                    <div class="row">
                                        <h4 class="info-text"> Comenzemos con una informacion basica</h4>
                                        <div class="col-sm-4 col-sm-offset-1">
                                            <div class="picture-container">
                                                <div class="picture">
                                                    <img src="{% static 'templates/assets/img/new_logo.png' %}" class="picture-src" id="wizardPicturePreview" title=""/>
                                                    <input type="file" id="wizard-picture">
                                                </div>
                                                <h6>Choose Picture</h6>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">face</i>
                                                    </span>
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Nombre<small>(requerido)</small></label>
                                                    {{form.nombre}}
                                                </div>
                                            </div>

                                            <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">record_voice_over</i>
                                                    </span>
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Apellido<small>(requerido)</small></label>
                                                    {{form.apellido}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-5 col-sm-offset-1">
                                            <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">phone</i>
                                                    </span>
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Celular <small>(requerido)</small></label>
                                                    {{form.celular}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-5 col-sm-offset-1">
                                            <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">phone</i>
                                                    </span>
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Casa <small>(requerido)</small></label>
                                                    {{form.telefono_h}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="familia">
                                    <h4 class="info-text"> Informacion Familiar </h4>
                                    <h6 class="info-text"><strong>SELECCIONE PARA CONFIRMAR</strong></h6>
                                    <div class="row">
                                        <div class="col-sm-10 col-sm-offset-1">
                                            <div class="col-sm-6">
                                                <h4><strong>¿Tiene personas a su cargo?</strong></h4>
                                                {{form.personas}}
                                            </div>
                                            <div class="col-sm-6">
                                                <h4><strong>¿Tiene adultos a su cargo?</strong></h4>
                                                {{form.adultos}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-10 col-sm-offset-1">
                                            <div class="col-sm-2">
                                            </div>
                                            <div class="col-sm-8">
                                                <br>
                                                <br>
                                                <br>
                                                <h6 align="center"><strong>Especifique Cantidad de Personas</strong></h6>
                                                {{form.cantidad_p}}
                                            </div>
                                            <div class="col-sm-2">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="direcciones">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h3 class="info-text"><strong>¿En que parte de Venezuela necesitas el servicio?</strong></h3>
                                        </div>
                                        <div class="col-sm-3 col-sm-offset-1">
                                            <div align="center" class="form-group label-floating">
                                                <label class="control-label">Estado</label>
                                                {{form.estado}}
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div align="center" class="form-group label-floating">
                                                <label class="control-label">Municipio</label>
                                                {{form.municipio}}
                                            </div>
                                        </div>
                                        <div align="center" class="col-sm-3 col-sm-offset-1">
                                            <div class="form-group label-floating">
                                                <label class="control-label">Parroquia</label>
                                                {{form.parroquia}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wizard-footer">
                                <div class="pull-right">
                                    <input type='button' class='btn btn-next btn-fill btn-info btn-wd' name='next' value='Next' />
                                    <input type='submit' class='btn btn-finish btn-fill btn-info btn-wd' name='finish' value='Finish' />
                                </div>

                                <div class="pull-left">
                                    <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous' value='Previous' />
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                </div> <!-- wizard container -->
            </div>
        </div><!-- end row -->
    </div> <!--  big container -->
</div>
</div>
{% endblock %}