{% extends "clientes/base_clientes.html" %}
{% load static %}

{% block contenido %}
	<h2>NUESTROS SERVICIOS DISPONIBLES</h2>
	<br>
	<br>
    <form action="servicios_submit" method="post" accept-charset="utf-8">
        {% for servicio in servicios %}
    		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="header bg-cyan">
                        <h2>
                            {{servicio.nombre}} <small>Precio: {{servicio.precio}}</small>
                        </h2>
                    </div>
                    <div class="body">
                       	{{servicio.descripcion}}
                        <br>
                        <br>
                        <div class="switch">
                            <label><input type="checkbox"><span class="lever switch-col-cyan"></span>Contratar</label>
                        </div>
                    </div>
                </div>
            </div>
    	{% endfor %}
    	<br>	
    	<div>
    		<button class="btn btn-primary waves-effect" type="submit">CONTRATAR SERVICIOS</button>
    	</div>
    </form>
{% endblock %}