{% extends "clientes/base_clientes.html" %}
{% load static %}
{% block contenido %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="blue">
                        <h4 class="title">Editar Perfil</h4>
                        <p class="category">Modifica tus Datos de Perfil</p>
                    </div>
                    <div class="card-content">
                        <form action="" method="post">{% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Nombre</label>
                                        {{form.nombre}}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Apellido</label>
                                        {{form.apellido}}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Celular</label>
                                        {{form.celular}}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Telefono de Habitacion</label>
                                        {{form.telefono_h}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Estado</label>
                                        {{form.estado}}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Municipio</label>
                                        {{form.municipio}}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Parroquia</label>
                                        {{form.parroquia}}
                                    </div>
                                </div>
                            </div>

                            <button class="btn btn-info pull-right">Actualizar Perfil</button>
                            <input type='submit' class='btn btn-finish btn-fill btn-info btn-wd' name='finish' value='Finish' />
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-4">
                 <div class="card card-profile">
                     <div class="card-avatar">
                         <a href="#pablo">
                             <img class="img" src="{% static 'templates/inicio/img/opaniz.png' %}" height="300" width="300" />
                         </a>
                     </div>

                     <div class="content">
                         <h6 class="category text-gray">Agencia de Seguros</h6>
                         <h4 class="card-title">Inversiones Opaniz</h4>
                         <p class="card-content">
                             Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                         </p>
                         <a href="#pablo" class="btn btn-info btn-round">Follow</a>
                     </div>
                 </div>
             </div> -->
        </div>
    </div>
</div>
{% endblock %}