<!DOCTYPE html>
{% load static %}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#2196F3">
    <title>Opa24 Service - A tu alcance y comodidad</title>

    <!-- CSS  -->
    <link href="{% static 'templates/inicio/min/plugin-min.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'templates/inicio/min/custom-min.css' %}" type="text/css" rel="stylesheet" >
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
</head>
<body id="top" class="scrollspy">

<!-- Pre Loader -->
<div id="loader-wrapper">
    <div id="loader"></div>
 
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
 
</div>

<!--Navigation-->
 <div class="navbar-fixed">
    <nav id="nav_f" class="default_color" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
            <a href="#" id="logo-container" class="brand-logo">
                <img src="{% static 'templates/inicio/img/opaniz.png' %}" height="60" width="220" href="/#intro" alt=""></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/#intro">Servicios</a></li>
                    <li><a href="/#work">Especialidades</a></li>
                    <li><a href="/#team">Equipo</a></li>
                    <li><a href="/#contact">Contactanos</a></li>
                    <li><a href="/accounts/login">Acceder</a></li>
                </ul>
                <ul id="nav-mobile" class="side-nav">
                    <li><a href="/#intro">Servicios</a></li>
                    <li><a href="/#work">Especialidades</a></li>
                    <li><a href="/#team">Equipo</a></li>
                    <li><a href="/#contact">Contactanos</a></li>
                    <li><a href="/accounts/login">Acceder</a></li>
                </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
        </div>
    </nav>
</div>

{% block content %}
    
{% endblock %}
<!--Footer-->
<footer id="contact" class="page-footer default_color scrollspy">
    <div class="container">  
        <div class="row">
        <h3 class="white-text">¿Alguna Inquietud?</h3>
            <div class="col l6 s12">
                <form class="col s12" action="" method="post">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="mdi-action-account-circle prefix white-text"></i>
                            <input id="icon_prefix" name="name" type="text" class="validate white-text">
                            <label for="icon_prefix" class="white-text">Nombre</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="mdi-communication-email prefix white-text"></i>
                            <input id="icon_email" name="email" type="email" class="validate white-text">
                            <label for="icon_email" class="white-text">Email</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="mdi-editor-mode-edit prefix white-text"></i>
                            <textarea id="icon_prefix2" name="message" class="materialize-textarea white-text"></textarea>
                            <label for="icon_prefix2" class="white-text">Mensaje</label>
                        </div>
                        <div class="col offset-s7 s5">
                            <button class="btn waves-effect waves-light red darken-1" type="submit">Enviar
                                <i class="mdi-content-send right white-text"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col l4 s12">
                <h5 class="white-text">Inversiones Opaniz</h5>
                <ul>
                    <li><a class="white-text" href="http://opaniz.com/" target="_blank">Home</a></li>
                    <li><a class="white-text" href="http://opaniz.com/tips-de-salud-ocupacional/" target="_blank">Blog</a></li>
                </ul>
            </div>
            <div class="col l2 s12">
                <h5 class="white-text">Social</h5>
                <ul>
                    <li>
                        <a class="white-text" href="https://www.instagram.com/inversionesopaniz">
                            <i class="small fa fa-instagram white-text"></i> Instagram
                        </a>
                    </li>
                    <li>
                        <a class="white-text" href="https://www.facebook.com/Opaniz-Oficial-309197906090382/">
                            <i class="small fa fa-facebook-square white-text"></i> Facebook
                        </a>
                    </li>
                    <li>
                        <a class="white-text" href="http://twitter.com/Opaniz">
                            <i class="small fa fa-twitter-square white-text"></i> Twitter
                        </a>
                    </li>
                    <li>
                        <a class="white-text" href="https://ve.linkedin.com/in/inversiones-opaniz-57736a139">
                            <i class="small fa fa-linkedin-square white-text"></i> Linkedin
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright default_color">
        <div class="container">
            Desarrollado por <a class="white-text" href="http://expertosenmarketingonline.com">Expertos en Marketing Online</a>.
        </div>
    </div>
</footer>


    <!--  Scripts-->
    <script src="{% static 'templates/inicio/min/plugin-min.js' %}"></script>
    <script src="{% static 'templates/inicio/min/custom-min.js' %}"></script>

    </body>
</html>
