{% extends "base.html" %}
{% load static %}
{% block content %}
    <!--Hero-->
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <h1 class="text_h center header cd-headline letters type">
                <span>Especialistas en: </span> 
                <span class="cd-words-wrapper waiting">
                    <b class="is-visible">ayudar</b>
                    <b>solucionar</b>
                    <b>cuidar tu salud</b>
                </span>
            </h1>
        </div>
    </div>

    <!--Intro and service-->
    <div id="intro" class="section scrollspy">
        <div class="container">
            <div class="row">
                <div  class="col s12">
                    <h2 class="center header text_h2"> Especializados en el area de la salud y atencion primaria, el servicio de<span class="span_h2"> Opa24  </span>abarca todo tipo de discapacidades medicas para,<span class="span_h2"> Brindarte lo mejor</span> </h2>
                </div>

                <div  class="col s12 m4 l4">
                    <div class="center promo promo-example">
                        <i class="mdi-maps-local-convenience-store"></i>
                        <h5 class="promo-caption">Siempre Disponibles</h5>
                        <p class="light center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                    </div>
                </div>
                <div class="col s12 m4 l4">
                    <div class="center promo promo-example">
                        <i class="mdi-social-group"></i>
                        <h5 class="promo-caption">La mejor Atención</h5>
                        <p class="light center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    </div>
                </div>
                <div class="col s12 m4 l4">
                    <div class="center promo promo-example">
                        <i class="mdi-hardware-phonelink"></i>
                        <h5 class="promo-caption">Desde cualquier equipo</h5>
                        <p class="light center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Work-->
    <div class="section scrollspy" id="work">
        <div class="container">
            <h2 class="header text_b">Especialidades </h2>
            <div class="row">
                <div class="col s12 m4 l4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{% static 'templates/inicio/img/opaservice1.jpg' %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Rayos X <i class="mdi-navigation-more-vert right"></i></span>
                            <p><a href="#">Project link</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Rayos X <i class="mdi-navigation-close right"></i></span>
                            <p>Contamos con una gran maquinaria tencnologica, para que obtengas las mejores placas y/o Rayos X sobre tu estado de salud.</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4 l4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{% static 'templates/inicio/img/opaservice2.PNG' %}" height="232">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Servicios de Ambulancia<i class="mdi-navigation-more-vert right"></i></span>
                            <p><a href="#">Project link</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Servicio de Ambulancia<i class="mdi-navigation-close right"></i></span>
                            <p>Contamos con el mejor servicio de ambulancia, disponibles las 24 horas, los 365 dias del año.</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4 l4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{% static 'templates/inicio/img/project3.png' %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Project Title <i class="mdi-navigation-more-vert right"></i></span>
                            <p><a href="#">Project link</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Project Title <i class="mdi-navigation-close right"></i></span>
                            <p>Here is some more information about this project that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4 l4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{% static 'templates/inicio/img/project4.jpg' %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Project Title <i class="mdi-navigation-more-vert right"></i></span>
                            <p><a href="#">Project link</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Project Title <i class="mdi-navigation-close right"></i></span>
                            <p>Here is some more information about this project that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4 l4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{% static 'templates/inicio/img/project5.png' %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Project Title <i class="mdi-navigation-more-vert right"></i></span>
                            <p><a href="#">Project link</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Project Title <i class="mdi-navigation-close right"></i></span>
                            <p>Here is some more information about this project that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4 l4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{% static 'templates/inicio/img/project6.jpeg' %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Project Title <i class="mdi-navigation-more-vert right"></i></span>
                            <p><a href="#">Project link</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Project Title <i class="mdi-navigation-close right"></i></span>
                            <p>Here is some more information about this project that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Parallax-->
    <div class="parallax-container">
        <div class="parallax"><img src="{% static 'templates/inicio/img/parallax2.jpg' %}"></div>
    </div>

    <!--Team-->
    <div class="section scrollspy" id="team">
        <div class="container">
            <h2 class="header text_b"> Nuestro Equipo </h2>
            <div class="row">
                <div class="col s12 m3">
                    <div class="card card-avatar">
                        <div class="waves-effect waves-block waves-light">
                            <img class="activator" src="{% static 'templates/inicio/img/avatar1.png' %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Dr. Silverman<br/>
                                <small><em><a class="red-text text-darken-1" href="#">CIRUJANO</a></em></small></span>
                            <p>
                                <a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                                <a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
                                    <i class="fa fa-twitter-square"></i>
                                </a>
                                <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
                                    <i class="fa fa-google-plus-square"></i>
                                </a>
                                <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
                                    <i class="fa fa-linkedin-square"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m3">
                    <div class="card card-avatar">
                        <div class="waves-effect waves-block waves-light">
                            <img class="activator" src="{% static 'templates/inicio/img/avatar2.png' %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Dra Maria<br/>
                                <small><em><a class="red-text text-darken-1" href="#">PEDIATRA</a></em></small>
                            </span>
                            <p>
                                <a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                                <a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
                                    <i class="fa fa-twitter-square"></i>
                                </a>
                                <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
                                    <i class="fa fa-google-plus-square"></i>
                                </a>
                                <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
                                    <i class="fa fa-linkedin-square"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m3">
                    <div class="card card-avatar">
                        <div class="waves-effect waves-block waves-light">
                            <img class="activator" src="{% static 'templates/inicio/img/avatar3.png' %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Dr. Andres<br/>
                                <small><em><a class="red-text text-darken-1" href="#">TRAUMATOLOGO</a></em></small></span>
                            <p>
                                <a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                                <a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
                                    <i class="fa fa-twitter-square"></i>
                                </a>
                                <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
                                    <i class="fa fa-google-plus-square"></i>
                                </a>
                                <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
                                    <i class="fa fa-linkedin-square"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m3">
                    <div class="card card-avatar">
                        <div class="waves-effect waves-block waves-light">
                            <img class="activator" src="{% static 'templates/inicio/img/avatar4.png' %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Dr. Alberto<br/>
                                <small><em><a class="red-text text-darken-1" href="#">NEUROLOGO</a></em></small></span>
                            <p>
                                <a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                                <a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
                                    <i class="fa fa-twitter-square"></i>
                                </a>
                                <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
                                    <i class="fa fa-google-plus-square"></i>
                                </a>
                                <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
                                    <i class="fa fa-linkedin-square"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

